<div class="sidebar">
    <div class="sidebarWrapper">
        <ul class="sidebarlist">
            <li class="sidebarListitem">
                <span class="sidebarListItemText"><a [routerLink]="['newRegister']" routerLinkActive="router-link-active" >
                    New Register
                </a></span>
            </li>
            <li class="sidebarListitem">
                <span class="sidebarListItemText">
                    <a [routerLink]="['activeUser']" routerLinkActive="router-link-active" >
                        Active User
                    </a>
                </span>
            </li>
            <li class="sidebarListitem">
                <span class="sidebarListItemText">
                    <a [routerLink]="['todoList']" routerLinkActive="router-link-active" >
                        Todo List
                    </a>
                </span>
            </li>
            <li class="sidebarListitem">
                <span class="sidebarListItemText">
                    <a [routerLink]="['uploadFile']" routerLinkActive="router-link-active" >
                        upload file and folder
                    </a>
                </span>
            </li>
        <button class="sidebarButton">Welcome !</button>
        <hr class="sidebarHr" />
        </ul>
       
    </div>
   </div>