
<div class="header">
    <div class="left">{{title.logo}}</div>

   
   
    <div class="right">
        <ul class="rightlist">
            <li > Home</li>
            <li > <a [routerLink]="['/uploadFile']" routerLinkActive="router-link-active" >Upload File</a></li>
            <li > <a [routerLink]="['/signIn']" routerLinkActive="router-link-active" >SignIn</a></li>
            <li > <a [routerLink]="['/signIn']" routerLinkActive="router-link-active" >SignIn</a></li>
        </ul>
    </div>
</div>
