
<div class="header">
    <div class="left">{{title.logo}}</div>

    <div class="center"><input type="text" id="shearch" (keyup)="onSubmit($event)" 
    [(ngModel)]="searchValue" class="form-control" placeholder="Shaerch Box"
        /><button>
        Shearch
    </button></div>
   
    <div class="right">
        <ul class="rightlist">
            <li > Home</li>
            <li > <a [routerLink]="['/uploadFolder']" routerLinkActive="router-link-active" >Uplaod File</a></li>
            <li > <a [routerLink]="['/signUp']" routerLinkActive="router-link-active" >SignUp</a></li>
            <li > <a [routerLink]="['/signIn']" routerLinkActive="router-link-active" >SignIn</a></li>
        </ul>
    </div>
</div>
