<div>
    <p>
        <mat-toolbar color="success">
            <span class="todoHead">TODO LIST</span>
        </mat-toolbar>
    </p>
    <div class="addTaskbarmain">
        <div>
            <input matInput [(ngModel)]="newTask" type="text" value="" class="col-7 form-control"
                style="width:20rem;">
        </div>
        <div>
            <button mat-raised-button color="warn" (click)="addToList()" class="btn">
                ADD TASK
            </button>
        </div>
    </div>
    <div *ngFor="let x of items; let index = index;" class="row mt-1" style="height:80px;">
        <div class="col-2 d-none col-md-3 d-md-block"></div>
        <div class="col-12 col-md-6 bg-success d-flex
                            justify-content-center align-items-center
                            text-light h5">
            <div class="col-7 text-light h5">{{x}}</div>
            <button (click)="updateTask(index)" type="button" value="Update"
                class="col-2 btn btn-warning ">Update</button>
            <button (click)="deleteTask(index)" type="button" value="Delete"
                class="col-2 btn btn-danger">Delete</button>
        </div>
    </div>
</div>