
<h1> Uplaod your File or Folder</h1>

<div class="dropzone" fileDragDrop (filesChangeEmiter)="filesPicked($event)">
         <label for="file"><span class="textLink">Select your File</span> or Drop it here!</label>
         <input #fileField #fileInput type="file" (change)="filesPicked(fileInput.files)" multiple>
</div>
   
     <div>
         <mat-list>
             <h3 mat-subheader>Files</h3>
             <mat-list-item *ngFor="let file of fileFolderData">
                 <mat-icon mat-list-icon>folder</mat-icon>
                 <h4 mat-line>{{file?.name}}</h4>
                 <h5>{{file?.type}} </h5>
                 <p class="size">
                     {{ formatBytes(file?.size) }}
                   </p>
                 <mat-divider></mat-divider>
             </mat-list-item>
         </mat-list>
     </div>

   