

<div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
  <div class="card auth">
    <div class="card-body auth-card">

      <div class="auth-avatar">
        <img
          src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
          alt="user" class="user-image">
      </div>
     
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <h2 class="head2">Register</h2>
        
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="name" formControlName="name" name="name" required>

          <mat-error *ngIf="submitted && f['name'].errors">
            <div *ngIf="f['name'].errors['required']">name is required</div>
            <div *ngIf="f['name'].errors['pattern']">name must be in charecters</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput type="email" placeholder="Email" formControlName="email" name="email" required>

          <mat-error *ngIf="submitted && f['email'].errors">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['pattern']">example: abc@example.com</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-icon matSuffix
            (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
          <input matInput [type]="showPassword ? 'text' : 'password'" #password placeholder="Password"
            formControlName="password" name="password" required>




        </mat-form-field>
        <app-password-strength-custom [passwordToCheck]="form.value.password" (passwordStrength)="passwordValid($event)"
          *ngIf="form.value.password"></app-password-strength-custom>
        <!-- <password-strength-meter *ngIf="form.value.password" [password]="form.value.password" class="strength"></password-strength-meter> -->
        <mat-error *ngIf="submitted && f['password'].errors">
          <div *ngIf="f['password'].errors['required']" class="pass">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']" class="pass">
            Password must be at least 6 characters
          </div>
          <div *ngIf="f['password'].errors['maxlength']" class="pass">
            password must not exceed 12 characters
          </div>
          <div *ngIf="f['password'].errors['pattern']">
            <ul>
              <li class="liit">password must contain atleast one special character</li>
              <li class="liit">password must contain atleast one uppercase alphabet</li>
              <li class="liit">password must contain atleast one lowercase alphabet</li>
              <li class="liit">password must contain a number</li>
            </ul>
          </div>
        </mat-error>
        <mat-form-field appearance="outline">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
            name="confirmPassword" required>

          <mat-error *ngIf="submitted && f['confirmPassword'].errors">
            <div *ngIf="f['confirmPassword'].errors['required']">Confirm password is required</div>
            <div *ngIf="f['confirmPassword'].errors['matching']">
              Confirm Password does not match
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <!-- <input matInput type="text" placeholder="market" formControlName="market"
                            name="market"  required> -->


          <mat-select formControlName="market" multiple placeholder="Market" required>


            <app-all-select [model]="form.get('market')" [values]="marketList"></app-all-select>
            <mat-option *ngFor="let market of marketList" [value]="market">{{market}}</mat-option>


          </mat-select>

          <mat-error *ngIf="submitted && f['market'].errors">
            <div *ngIf="f['market'].errors['required']">market is required</div>
           
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
        

          <mat-select formControlName="role" multiple placeholder="Role">

            <mat-optgroup *ngFor="let group of roleGroups" [label]="group.name">
              <mat-option *ngFor="let role of group.roles" [value]="role.value">
                {{role.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>


          <mat-error *ngIf="submitted && f['role'].errors">
            <div *ngIf="f['role'].errors['required']">role is required</div>
            
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="warn" class="signupBtn">Signup</button>
      </form>
      <div class="text-center login">
        Don`t have an account ? <a routerLink="/signIn">Login</a> here.
      </div>
    </div>
  </div>
</div>