
<mat-form-field appearance="outline">
    <mat-label>Market</mat-label>
    <mat-select  #select multiple>
      <div class="select-all">
          <mat-checkbox [(ngModel)]="allSelected"
                          [ngModelOptions]="{standalone: true}"
                          (change)="toggleAllSelection()">Select All</mat-checkbox>
      </div>
      <mat-option (click)="optionClick(item.value)" *ngFor="let item of market" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>