app-all-select .mat-checkbox-layout{
    /* margin-left: 14.10px !important; */
    margin: 10px 0 10px 15px !important;
}


app-all-select .mat-checkbox-label {
  width:100% !important;
  /* margin-left: 14.8px !important; */
 
}

span.mat-checkbox-label{
    display:block;
    color:rgba(0,0,0,0.60) !important;
    font-size:inherit;
    font-weight: 500;
    
}