

.profile{
  display: flex;
}
.profileWrapper{
  display: flex;
}

.centerHome{
  // display: flex;
  overflow-y: scroll;
  position: sticky;
  // position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: aqua;
}